button, input {
  margin-top: 8px;
  margin-bottom: 8px;
}

label {
  padding-right: 16px;
}

.status {
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 4px 8px;
}

.success {
  border: 2px solid green;
  background-color: lightgreen;
}

.error {
  border: 2px solid red;
  background-color: lightpink;
}

.separator {
  border-top: 1px solid lightgray;
}